.navbar {
    color: white;
}

.navbar_box {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
}

.nb_box_2,
.nb_box_3 {
    display: flex;
}

.kivlik {
    margin: 0;
}

.menu {
    margin: 0 10px;
    cursor: pointer;
}

.menu:hover {
    font-weight: 600;
}